In [160]:
import pyodbc

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=localhost\\SQLEXPRESS;'
    'DATABASE=master;'
    'Trusted_Connection=yes;'
)

print("Koneksi berhasil!")

Koneksi berhasil!

In [161]:
from sqlalchemy import create_engine
import urllib

server = r"localhost\SQLEXPRESS"
database = "Skripsi Caesha"  # kalau ada spasi, aman pakai encoding

params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={server};"
    f"DATABASE={database};"
    "Trusted_Connection=yes;"
)

engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

In [162]:
import pandas as pd

df = pd.read_sql(
    "SELECT TABLE_SCHEMA, TABLE_NAME FROM INFORMATION_SCHEMA.TABLES",
    conn
)
df

C:\Users\Luca\AppData\Local\Temp\ipykernel_30672\3890017005.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(

  TABLE_SCHEMA             TABLE_NAME
0          dbo        spt_fallback_db
1          dbo       spt_fallback_dev
2          dbo       spt_fallback_usg
3          dbo             spt_values
4          dbo            spt_monitor
5          dbo  MSreplication_options

In [163]:
import pandas as pd
fact = pd.read_csv("fact_tables.csv", sep=None, engine="python")

In [164]:
fact.head()

,Number,creator,Severity,TicketType,Request/Fault,Status,ServiceType,ProductGroup,FaultArisingTime,FaultClearingTime,Priority,Duration,Status_ID,User_ID,Service_ID,Ticket_Type_ID
0,VPN2506300209,CISO - Connectivity Surveillance,High,Fault,VVIP High (CSO) - Single circuit down,Closed,Revenue,IP VPN,2025-06-30 23:28:00,2025-07-02 08:30:19,P2,33.04,1,1,1,1
1,VPN2506300208,CISO - Connectivity Surveillance,High,Fault,VVIP High (CSO) - Single circuit down,Closed,Revenue,IP VPN,2025-06-30 23:27:00,2025-06-30 23:33:27,P2,0.11,1,1,1,1
2,IPT2506300206,CiSO - CIM Service,Medium,Request,VVIP Request (CSO) – Request SIP/LOG/RFO/Adv IP,Closed,-,IP Transit,2025-06-30 23:07:00,2025-07-01 17:02:39,P3,17.93,1,2,2,2
3,IPL2506300204,CiSO - CIM Service,High,Fault,VIP High (CSO) - Single ciruit down,Closed,Revenue,IPLC,2025-06-30 22:49:00,2025-06-30 23:03:58,P3,0.25,1,2,3,3
4,HBV2506300202,CiSO - CIM Service,Medium,Fault,REG Medium (VSO) - Service degradation,Closed,-,Hubbing Voice,2025-06-30 22:22:00,2025-07-02 10:33:41,P3,36.19,1,2,4,4

In [165]:
import pandas as pd

fact = pd.read_csv("fact_tables.csv", sep=';')
dim_status = pd.read_csv("dim_status.csv", sep=';')
dim_service = pd.read_csv("dim_service.csv", sep=';')
dim_ticket = pd.read_csv("dim_ticket.csv", sep=';')
dim_users = pd.read_csv("dim_users.csv", sep=';')

In [166]:
# fact = pd.read_csv("fact_tables.csv", sep=';')
# dim_status = pd.read_csv("dim_status.csv", sep=';')
# dim_service = pd.read_csv("dim_service.csv", sep=';')
# dim_ticket = pd.read_csv("dim_ticket.csv", sep=';')
# dim_user = pd.read_csv("dim_user.csv", sep=';')

In [167]:
# import pandas as pd

# fact = pd.read_csv("fact_tables.csv", sep=';')
# dim_status = pd.read_csv("dim_status.csv", sep=';')
# dim_service = pd.read_csv("dim_service.csv", sep=';')
# dim_ticket = pd.read_csv("dim_ticket.csv", sep=';')
# dim_user = pd.read_csv("dim_user.csv", sep=';')

In [168]:
print(fact.columns)

Index(['Number,creator,Severity,TicketType,Request/Fault,Status,ServiceType,ProductGroup,FaultArisingTime,FaultClearingTime,Priority,Duration,Status_ID,User_ID,Service_ID,Ticket_Type_ID'], dtype='object')

In [169]:
# dim_service.to_sql('dim_service', con=engine, if_exists='replace', index=False)
# dim_ticket.to_sql('dim_ticket', con=engine, if_exists='replace', index=False)

In [170]:
# fact = pd.read_csv("fact_tables.csv", sep=';')

In [171]:
# dim_ticket.to_sql('dim_ticket', con=engine, if_exists='replace', index=False)

In [172]:
# fact = pd.read_csv("fact_tables.csv", sep=';')
# dim_service.to_sql('dim_service', con=engine, if_exists='replace', index=False)
# dim_ticket.to_sql('dim_ticket', con=engine, if_exists='replace', index=False)
# dim_users.to_sql('dim_users', con=engine, if_exists='replace', index=False)

In [173]:
print(fact.columns)

Index(['Number,creator,Severity,TicketType,Request/Fault,Status,ServiceType,ProductGroup,FaultArisingTime,FaultClearingTime,Priority,Duration,Status_ID,User_ID,Service_ID,Ticket_Type_ID'], dtype='object')

In [174]:
print(fact.shape)
print(fact.columns.tolist())
print(fact.head(2))

(20643, 1)
['Number,creator,Severity,TicketType,Request/Fault,Status,ServiceType,ProductGroup,FaultArisingTime,FaultClearingTime,Priority,Duration,Status_ID,User_ID,Service_ID,Ticket_Type_ID']
  Number,creator,Severity,TicketType,Request/Fault,Status,ServiceType,ProductGroup,FaultArisingTime,FaultClearingTime,Priority,Duration,Status_ID,User_ID,Service_ID,Ticket_Type_ID
0  VPN2506300209,CISO - Connectivity Surveillance...
1  VPN2506300208,CISO - Connectivity Surveillance...

In [175]:
import pandas as pd

fact = pd.read_csv("fact_tables.csv", sep=",", engine="python")
print(fact.shape)
print(fact.columns.tolist())
fact.head(2)

(20643, 16)
['Number', 'creator', 'Severity', 'TicketType', 'Request/Fault', 'Status', 'ServiceType', 'ProductGroup', 'FaultArisingTime', 'FaultClearingTime', 'Priority', 'Duration', 'Status_ID', 'User_ID', 'Service_ID', 'Ticket_Type_ID']

,Number,creator,Severity,TicketType,Request/Fault,Status,ServiceType,ProductGroup,FaultArisingTime,FaultClearingTime,Priority,Duration,Status_ID,User_ID,Service_ID,Ticket_Type_ID
0,VPN2506300209,CISO - Connectivity Surveillance,High,Fault,VVIP High (CSO) - Single circuit down,Closed,Revenue,IP VPN,2025-06-30 23:28:00,2025-07-02 08:30:19,P2,33.04,1,1,1,1
1,VPN2506300208,CISO - Connectivity Surveillance,High,Fault,VVIP High (CSO) - Single circuit down,Closed,Revenue,IP VPN,2025-06-30 23:27:00,2025-06-30 23:33:27,P2,0.11,1,1,1,1

In [176]:
import re

fact.columns = [
    re.sub(r"[^\w]+", "_", c).strip("_")[:128]
    for c in fact.columns
]

fact.to_sql("fact_tables", con=engine, if_exists="replace", index=False)

76

In [177]:
fact.to_sql('fact_tables', con=engine, if_exists='replace', index=False)
dim_status.to_sql('dim_status', con=engine, if_exists='replace', index=False)
dim_service.to_sql('dim_service', con=engine, if_exists='replace', index=False)
dim_ticket.to_sql('dim_ticket', con=engine, if_exists='replace', index=False)
dim_users.to_sql('dim_users',con=engine,if_exists='replace', index=False)           

print("✅ Semua tabel sudah berhasil diupload ke SQL Server!")

✅ Semua tabel sudah berhasil diupload ke SQL Server!

In [178]:
import pandas as pd

dim_status = pd.read_csv("dim_status.csv", delimiter=';')
print(dim_status.head())

               Status  Status_ID
0              Closed          1
1    Technical Closed          2
2                Open          3
3             Testing          4
4  Notifying Customer          5

In [179]:

print(fact.columns)

Index(['Number', 'creator', 'Severity', 'TicketType', 'Request_Fault',
       'Status', 'ServiceType', 'ProductGroup', 'FaultArisingTime',
       'FaultClearingTime', 'Priority', 'Duration', 'Status_ID', 'User_ID',
       'Service_ID', 'Ticket_Type_ID'],
      dtype='object')

In [180]:
fact[['Number', 'Status', 'Status_ID']].head()

          Number  Status  Status_ID
0  VPN2506300209  Closed          1
1  VPN2506300208  Closed          1
2  IPT2506300206  Closed          1
3  IPL2506300204  Closed          1
4  HBV2506300202  Closed          1

In [181]:
print(fact.columns)

Index(['Number', 'creator', 'Severity', 'TicketType', 'Request_Fault',
       'Status', 'ServiceType', 'ProductGroup', 'FaultArisingTime',
       'FaultClearingTime', 'Priority', 'Duration', 'Status_ID', 'User_ID',
       'Service_ID', 'Ticket_Type_ID'],
      dtype='object')

In [182]:
# tulis ulang tabel fact_tables
fact.to_sql('fact_tables', con=engine, if_exists='replace', index=False)

76

In [183]:
import pandas as pd

for file in ['dim_service.csv', 'dim_ticket.csv', 'dim_users.csv']:
    df = pd.read_csv(file, sep=';')
    print(file, "→", df.columns)

dim_service.csv → Index(['Service_Type,Product_Group,Service_ID'], dtype='object')
dim_ticket.csv → Index(['TicketType,Priority,Severity,Ticket_Type_ID'], dtype='object')
dim_users.csv → Index(['User_Name,User_ID'], dtype='object')

In [184]:
dim_service.to_sql('dim_service', con=engine, if_exists='replace', index=False)
dim_ticket.to_sql('dim_ticket', con=engine, if_exists='replace', index=False)
dim_users.to_sql('dim_user', con=engine, if_exists='replace', index=False)

30

In [185]:
# 1️⃣ Baca ulang CSV (karena sudah benar delimiter-nya)
fact = pd.read_csv('fact_tables.csv')

In [186]:
# 3️⃣ Upload ke tabel fact_tables
fact.to_sql('fact_tables', con=engine, if_exists='replace', index=False)

76

In [187]:
import pandas as pd

dim_user = pd.read_csv('dim_users.csv', sep=None, engine='python')
dim_user.head()

                                  User_Name  User_ID
0          CISO - Connectivity Surveillance        1
1                        CiSO - CIM Service        2
2  CISO - Voice and Signalling Surveillance        3
3                        CSO - Security CIM        4
4                           CISO - IT - CIM        5

In [188]:
dim_ticket = pd.read_csv('dim_ticket.csv', sep=None, engine='python')
dim_ticket.head()

    TicketType Priority Severity  Ticket_Type_ID
0        Fault       P2     High               1
1      Request       P3   Medium               2
2        Fault       P3     High               3
3        Fault       P3   Medium               4
4  Maintenance       P3      Low               5

In [189]:
dim_service = pd.read_csv('dim_service.csv', sep=None, engine='python')
dim_service.head()

  Service_Type  Product_Group  Service_ID
0      Revenue         IP VPN           1
1            -     IP Transit           2
2      Revenue           IPLC           3
3            -  Hubbing Voice           4
4            -      Neutrafix           5

In [190]:
# dim_user.to_csv('dim_user.csv', index=False, encoding='utf-8', sep=',')
# dim_ticket.to_csv('dim_ticket.csv', index=False, encoding='utf-8', sep=',')
# dim_service.to_csv('dim_service.csv', index=False, encoding='utf-8', sep=',')

In [191]:
# dim_user = pd.read_csv("dim_user.csv")
# dim_ticket = pd.read_csv("dim_ticket.csv")
# dim_service = pd.read_csv("dim_service.csv")

In [192]:
import pandas as pd

df=pd.read_excel("Data_Insiden.xlsx", sheet_name="Sheet1", dtype={"kode_item": str})
df.head()

,Number,creator,Severity,Ticket Type,Request / Fault,Status,Service Type,Service,Product Group,Fault Arising Time,Fault Clearing Time,Priority
0,VPN2506300209,CISO - Connectivity Surveillance,High,Fault,VVIP High (CSO) - Single circuit down,Closed,Revenue,R2300098,IP VPN,2025-06-30 23:28:00,2025-07-02 08:30:19,P2
1,VPN2506300208,CISO - Connectivity Surveillance,High,Fault,VVIP High (CSO) - Single circuit down,Closed,Revenue,R2300098,IP VPN,2025-06-30 23:27:00,2025-06-30 23:33:27,P2
2,IPT2506300206,CiSO - CIM Service,Medium,Request,VVIP Request (CSO) – Request SIP/LOG/RFO/Adv IP,Closed,-,NaN,IP Transit,2025-06-30 23:07:00,2025-07-01 17:02:39,P3
3,IPL2506300204,CiSO - CIM Service,High,Fault,VIP High (CSO) - Single ciruit down,Closed,Revenue,R2300256,IPLC,2025-06-30 22:49:00,2025-06-30 23:03:58,P3
4,HBV2506300202,CiSO - CIM Service,Medium,Fault,REG Medium (VSO) - Service degradation,Closed,-,NaN,Hubbing Voice,2025-06-30 22:22:00,2025-07-02 10:33:41,P3

In [193]:
dim_date = (
    pd.concat([df['Fault Arising Time'], df['Fault Clearing Time']])
      .dropna()
      .drop_duplicates()
      .sort_values()
      .reset_index(drop=True)
      .to_frame(name='Date_Time')
)
print(dim_date.head())

            Date_Time
0 2024-07-01 00:10:02
1 2024-07-01 00:10:03
2 2024-07-01 00:10:04
3 2024-07-01 01:37:00
4 2024-07-01 01:38:00

In [194]:
dim_date.to_csv('dim_date.csv', index=False)

In [195]:
from urllib.parse import quote_plus
server = "localhost\\SQLEXPRESS"  # ganti sesuai instance yang aktif
database = "Skripsi Caesha"
db = quote_plus(database)
engine = create_engine(
    f"mssql+pyodbc://@{server}/{db}?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"
)

In [196]:
dim_date = pd.read_csv("dim_date.csv", sep=";")  # atau sep=None, engine='python' jika perlu

In [198]:
from sqlalchemy import create_engine

server = r"localhost\SQLEXPRESS"  # sesuaikan dengan instance aktif (atau "localhost", atau nama server SSMS)
database = "Skripsi Caesha"       # nama sesuai di SSMS, persis huruf/spasi

engine = create_engine(
    f"mssql+pyodbc://@{server}/{database}"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&Trusted_Connection=yes"
)

In [199]:
test = create_engine(
    f"mssql+pyodbc://@{server}/master"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&Trusted_Connection=yes"
)
test.connect()

In [200]:
engine = create_engine(
    "mssql+pyodbc://USERNAME:PASSWORD@SERVER/Skripsi Caesha"
    "?driver=ODBC+Driver+17+for+SQL+Server"
)

In [202]:
from sqlalchemy import create_engine
import urllib

server = r".\SQLEXPRESS"
database = "Skripsi Caesha"

params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    f"SERVER={server};"
    f"DATABASE={database};"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)

engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

In [ ]:
dim_date.to_sql('dim_date', con=engine, if_exists='replace', index=False)

316

: