In [1]:
import pandas as pd

fact = pd.read_csv('fact_tables.csv', sep=';')
df.head()

NameError: name 'df' is not defined

In [2]:
fact = pd.read_csv('fact_tables.csv', sep=';')

In [3]:
fact.head()
fact.dtypes

Number                object
creator               object
ServiceType           object
ProductGroup          object
TicketType            object
Priority              object
Severity              object
Status                object
FaultArisingTime      object
FaultClearingTime     object
Duration             float64
User_ID                int64
Service_ID             int64
Ticket_Type_ID         int64
Status_ID              int64
dtype: object

In [7]:
# 1. Memeriksa apakah ada missing values yang tersisa
print("Jumlah missing values per kolom:")
print(fact.isnull().sum())

# 2. Memeriksa apakah ada duplikat di data
print("\nJumlah duplikat:")
print(fact.duplicated().sum())

Jumlah missing values per kolom:
Number               0
creator              0
ServiceType          0
ProductGroup         0
TicketType           0
Priority             0
Severity             0
Status               0
FaultArisingTime     0
FaultClearingTime    0
Duration             0
User_ID              0
Service_ID           0
Ticket_Type_ID       0
Status_ID            0
dtype: int64

Jumlah duplikat:
0

In [ ]:
df = pd.read_csv("fact_tables.csv", sep=None, engine="python")
df.head()

,Number,creator,ServiceType,ProductGroup,TicketType,Priority,Severity,Status,FaultArisingTime,FaultClearingTime,Duration
0,VPN2506300209,CISO - Connectivity Surveillance,Revenue,IP VPN,Fault,P2,High,Closed,2025-06-30 23:28:00,2025-07-02 08:30:19,33.038611
1,VPN2506300208,CISO - Connectivity Surveillance,Revenue,IP VPN,Fault,P2,High,Closed,2025-06-30 23:27:00,2025-06-30 23:33:27,0.107500
2,IPT2506300206,CiSO - CIM Service,-,IP Transit,Request,P3,Medium,Closed,2025-06-30 23:07:00,2025-07-01 17:02:39,17.927500
3,IPL2506300204,CiSO - CIM Service,Revenue,IPLC,Fault,P3,High,Closed,2025-06-30 22:49:00,2025-06-30 23:03:58,0.249444
4,HBV2506300202,CiSO - CIM Service,-,Hubbing Voice,Fault,P3,Medium,Closed,2025-06-30 22:22:00,2025-07-02 10:33:41,36.194722

In [42]:

# 2. Cek panjang maksimal per kolom
df.apply(lambda col: col.astype(str).str.len().max())

Number               17
creator              43
ServiceType           7
ProductGroup         32
TicketType           11
Priority              2
Severity              8
Status               21
FaultArisingTime     19
FaultClearingTime    19
Duration             19
dtype: int64

In [43]:
print(df.dtypes)

Number                object
creator               object
ServiceType           object
ProductGroup          object
TicketType            object
Priority              object
Severity              object
Status                object
FaultArisingTime      object
FaultClearingTime     object
Duration             float64
dtype: object

In [46]:
# 2. Cek panjang maksimal per kolom
df.apply(lambda col: col.astype(str).str.len().max())

User_Name    43
User_ID       2
dtype: int64

In [47]:
print(df.dtypes)

User_Name    object
User_ID       int64
dtype: object

In [49]:
df = pd.read_csv("dim_ticket.csv", sep=None, engine="python") 
df.head()
# 2. Cek panjang maksimal per kolom
df.apply(lambda col: col.astype(str).str.len().max())

TicketType        11
Priority           2
Severity           8
Ticket_Type_ID     2
dtype: int64

In [50]:
print(df.dtypes)

TicketType        object
Priority          object
Severity          object
Ticket_Type_ID     int64
dtype: object

In [51]:
df = pd.read_csv("dim_service.csv", sep=None, engine="python") 
df.head()
# 2. Cek panjang maksimal per kolom
df.apply(lambda col: col.astype(str).str.len().max())

Service_Type      7
Product_Group    32
Service_ID        2
dtype: int64

In [52]:
print(df.dtypes)

Service_Type     object
Product_Group    object
Service_ID        int64
dtype: object

In [53]:
df = pd.read_csv("dim_status.csv", sep=None, engine="python") 
df.head()
# 2. Cek panjang maksimal per kolom
df.apply(lambda col: col.astype(str).str.len().max())

Status       21
Status_ID     1
dtype: int64

In [54]:
print(df.dtypes)

Status       object
Status_ID     int64
dtype: object

In [32]:
print("Jumlah missing values per kolom:")
print(df.isnull().sum())
print("\nJumlah duplikat:")
print(df.duplicated().sum())
print("\nTipe data setiap kolom:")
print(df.dtypes)

Jumlah missing values per kolom:
Number,creator,ServiceType,ProductGroup,TicketType,Priority,Severity,Status,FaultArisingTime,FaultClearingTime,Duration    0
dtype: int64

Jumlah duplikat:
0

Tipe data setiap kolom:
Number,creator,ServiceType,ProductGroup,TicketType,Priority,Severity,Status,FaultArisingTime,FaultClearingTime,Duration    object
dtype: object

In [33]:
print(df.dtypes)

Number,creator,ServiceType,ProductGroup,TicketType,Priority,Severity,Status,FaultArisingTime,FaultClearingTime,Duration    object
dtype: object